@using KitapKatalog.Models
@model List<Tur>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Burası Tür :))</h1>

<table class="table table-bordered" style="margin-top: 20px; ">
    <tr>
        <th>ID</th>
        <th>Tür Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var t in Model)
    {
        <tr>
            <td>
                @t.TurId
            </td>
            <td>
                @t.TurAd
            </td>
            <td><a href="/Tur/Delete/@t.TurId" class="btn btn-danger">Sil </a></td>
            <td><a href="/Tur/GetTur/@t.TurId" class="btn btn-success">Güncelle</a></td>
        </tr>
     }
</table>
<a href="/Tur/Create" class="btn btn-primary">Tür Ekle</a>
