
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Burası Tür :))</h1>

<table class="table table-bordered" style="margin-top: 20px; margin-left: 20px; margin-right:20px">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
    </tr>
</table>
