@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <h3 class="display-4"></h3>
    <p>İşlem Yapmak İstediğiniz Kategoriyi Seçiniz</p>
</div>
