@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Hakkımızda</h1>
    <p>Burası Home Controller yani Anasayfa </a>.</p>
</div>
